{% extends 'base.html' %}
{% block titulo %}about{% endblock%}

{% block contenido %}


	<p><h3><center>BIOGRAFIA</center></h3></p>
<header>
	<center>Anyi Lorena Imbachi, tengo 20 años.<br>
		Naci el 31 de diciembre de 1997 en Bolivar cauca.<br>
		Hace 12 años vivo en popayan cauca con mis padres y mis hermanas,<br>
		hace tres años termine mi bachillerato. <br>Actualmente  estudio Analis y  Desarrolo de Sistemas de Imfornacion en el sena.<br>
		me gusta la lectura,me gustan mucho las peliculas de comedia.<br>
		soy una pérsona muy timida,poco social, malgeniada.<br>
		me gusta ser perseberante y no rendirme ante los problemas.

	</center>
</header>	<br>

</header>
	
{% endblock %}