<!DOCTYPE html>
<html>
<head>
	<title>CONTACTENOS</title>
	<style type="text/css">
	body {  background-image: url(https://images.alphacoders.com/758/thumb-1920-75893.jpg); font-family: Verdana; }
	header {color:#fff;}
	a {color:#fff;}

	</style>
</head>
<body>
	<header>

		
		<center><h1>POETAS</h1></center>

	</header>

	<nav>
		<a href="{% url 'vista_empresa' %}">POESIA</a>
		<a href="{% url 'vista_about' %}">DATOS PERSONALAES</a>
		<a href="{% url 'vista_hobbit' %}">LIBROS</a>
		
	</nav>

		


		


	</section>
</body>
</html>