<!DOCTYPE html>
<html>
<head>
	<style type="text/css">

	p { color: ; font-family: Verdana; }

	body {  background-image: url(https://data.whicdn.com/images/12415848/large.jpg); font-family: Verdana; }

	header { color:#000 ; font-style:italic; font-size:25px; }

	img {
		width: 450px;
		height:450px;
	}




	</style>

</head>

<body>
	<section>
		<a href="{% url 'vista_empresa' %}">POESIA</a>
		<a href="{% url 'vista_contactos' %}">POETAS</a><br>
		<a href="{% url 'vista_about' %}">DATOS PERSONALES</a>

		


	</section>
	<p><h3><center>MIS PASATIEMPOS</center></h3></p>
<header>
	<section>
		LECTURA
		<br>
		<p>La lectura nos regala mucha compañia,<br>
		 libertad para ser de otra manera. </p>

	<img src="https://img.culturacolectiva.com/content/2015/10/01-reading-a-book.jpg">
	</section>

	<div class="1">
		POESIA
		<br>
		<p>l,iugbvhyjufvd </p>

	<img src="https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/test/5899d3b75cafe85ef18b4568/test-libros1.jpg">
	</div>

</header>	

</body>
</html>